/* ------------------------------------------BASIC CSS------------------------------------------------------- */

.logo {
  height: 120px;
  max-width: 120px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(204, 204, 245);
  border-radius: 50px;
}

.toggle {
  height: 20px;
  border-radius: 50%;
}

.row {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: black;
  font-size: 84px;
}

.red__name {
  color: rgb(245, 71, 45);
}

.red__text {
  color: rgb(245, 71, 45);
}

.fa-brandfa-square-twitter {
  height: 60px;
  border-radius: 50px;
}

.intro__txt {
  font-size: 24px;
}

.link__name{
    font-size: 20px;
}
/* ------------------------------------------BASIC CSS------------------------------------------------------- */

/* ------------------------------------------NAV CSS------------------------------------------------------- */

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px dotted red;
  margin: 0 100px;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}

.list__piece {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0 20px;
}

.nav__section {
  margin-bottom: 300px;
}

/* ------------------------------------------NAV CSS----------------------------------------------------- */

/* ------------------------------------------INTRO CSS----------------------------------------------------- */

.introbox {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 3px solid blue;
  width: 50%;
  max-width: 500px;
  margin: 0 200px;
}

.icon__container {
  background-color: red;
  display: flex;
  justify-content: flex-start;
}

/* ------------------------------------------INTRO CSS----------------------------------------------------- */
